<% include partials/header.ejs %>
    <body>
            
        <form class="text-center form_container" id="eventFormSubmit" action="/submitData" method="POST">
            <!-- input for date -->
            <div class="form-group">
                <p id="dateError"></p>
                <label for="date">Date of Event</label>
                <input type="text" class="form-control" id="date" name="date" 
                placeholder="MM/DD/YYYY" maxlength="10" required>
            </div>
            
            <!-- input for event title -->
            <div class="form-group">
                <label for="event_title">Title of Event</label>
                <input type="text" class="form-control" id="event_title" name="event_title" 
                placeholder="Event Title (max 50 char)" maxlength="50" required>
            </div>

            <!-- input for event description-->
            <div class="form-group">
                <label for="event_desc">Description of Event</label>
                <textarea class="form-control" id="event_desc" name="event_desc" rows="3" 
                placeholder="Description of event (max 750 char)" maxlength="750" required></textarea>
            </div>

            <!-- input for event contact name -->
            <div class="form-group">
                <label for="contact_name">Name of Event Contact</label>
                <input type="text" class="form-control" id="contact_name" name="contact_name"
                placeholder="Event contact name">
            </div>

            <!-- input for event contact number -->
            <div class="form-group">
                <label for="contact_info">Info of Event Contact</label>
                <select class="form-control text-center text-uppercase contact_info" name="contact_info_option">
                    <option>Phone</option>
                    <option>Email</option>
                </select>
                <input type="text" class="form-control" id="contact_info" name="contact_info"
                placeholder="(xxx)xxx-xxxx or name@domain.com">
            </div>

            <!-- input for submission contact name -->
            <div class="form-group">
                <label for="sub_contact_name">Your Name</label>
                <input type="text" class="form-control" id="sub_contact_name" name="sub_contact_name"
                placeholder="Name" required>
            </div>

            <!-- input for submission contact name -->
            <div class="form-group">
                <label for="sub_contact_info">Your Contact Info</label>
                <select class="form-control text-center text-uppercase contact_info" name="sub_contact_info_option">
                    <option>Phone</option>
                    <option>Email</option>
                </select>
                <input type="text" class="form-control" id="sub_contact_info" name="sub_contact_info"
                placeholder="(xxx)xxx-xxxx or name@domain.com">
            </div>

            <button type="submit" class="btn btn-success">Submit</button>
            
        </form> 
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <script src=""></script>
    </body>
</html>