#palette {
    color: #C1D1DF; /*light medium blue gray*/
    color: #1B2125; /*dark gray*/
    color: #656668; /*medium gray*/
    color: #FFFFFF; /*white*/
    color: #3D6094; /*medium blue gray*/
    color: #a30404; /*first-letter dark red*/
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background: #C1D1DF; /*light medium blue gray*/
    color: #1B2125; /*dark gray*/
    font-family: 'Inknut Antiqua', serif;
    /* font-family: 'Spectral', serif; */
    font-weight: bold;
    padding-top: 90px;
}

.shadow {
    text-shadow: 2px 2px 3px #3D6094; /*medium blue gray*/
}


/* nav bar styles */
.navbar,
.navbar-default .navbar-nav,
.navbar-default .navbar-brand,
.nav li a {
    background: #3D6094;
    color: #C1D1DF;
}

.navbar-default .navbar-nav>li>a {
    color: #C1D1DF;
    font-size: 150%;
    padding: 20px;
}

.navbar-brand {
    width: 25%;
    height: 100%;
}

#brand-logo {
    max-height: 50%;
    min-height: 50px;
    max-width: 50%;
    min-width: 50px;
}

/* image styles */
#chaosLogo {
    width: 75%;
    margin: auto;
}

#imagePeople {
    width: 90%;
    margin: 16px auto;
    border: 5px solid #3D6094;
}

/* text styles */
#whoRow {
    padding-top: 16px;
}

.div1 {
    margin-top: 16px;
    width: 100%;
    border: 10px ridge #3D6094;
    padding: 10px;
    height: 100%;
    min-height: 517px;
    font-size: 120%;
}

.div2, 
.div3 {
    min-height: 528px;
}

.div3 {
    font-size: 100%;
}

p::first-letter {
    color: #800404;
    font-weight: bold;
    font-size: 120%;
    margin-left: 50px;
}

div li::first-letter {
    color: #800404;
    font-weight: bold;
    font-size: 120%;
}

/* #index-left-col,
#index-right-col {
    padding-top: 100px;
} */

#index-center-col { /*middle row - column text*/
    padding-bottom: 100px;
}

/* blog styles */
#blog-row__div {
    border: 10px double #3D6094;
    margin-top: 45px;
    font-size: 4em;
    min-height: 528px;
}

/* table styles */
.table-container {
    border: 10px ridge #3D6094;
    width: 100%;
    margin: 16px auto;
    padding: 16px;
}

table {
    width: 100%;
}

table,
td, 
th {
    table-layout: auto;
    border: 1px solid  #3D6094;
    padding: 5px;
} 

th {
    font-weight: bold;
    text-align: center;
}

/* map styles */
#mapImage {
    border: 10px ridge #3D6094;
    width: 100%;
    height: 331px;
    margin: 5px auto 16px;
    padding: 16px;
}

/* footer styles */
footer {
    width: 100%;
    background: #3D6094;
    color: #C1D1DF;
    bottom: 0;
}

#footer-text {
    margin: 8px auto;
    text-align: center;
}

footer li {
    display: inline;
}

#footer__chaosLogo {
    width: 200px;
    border: 2px solid  #1B2125; /*dark gray*/
    margin: 8px auto;
}

footer li a {
    color: #C1D1DF;
    margin: 10px;
    font-size: 112%;
}

footer li a:hover {
    text-decoration: none;
    color:  #1B2125; /*dark gray*/
}

/* RESOURCES PAGE STYLES */
/* nav bar styles */
#resources__brand-logo {
    max-height: 100%;
    min-height: 100px;
    max-width: 350px;
    min-width: 100px;
}

#resources-home__link {
    font-size: 200%;
    margin-top: 20px;
}

#resources__title-container,
.placeholder {
    /* background: linear-gradient(yellow, blue); */
    background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
    padding: 60px;
    margin-bottom: 16px;
}

#resources__title {
    font-size: 400%;
}

/* resource divs */
.div4 {
    width: 100%;
    height: 100%;
    border: 10px ridge #4b0202;
    margin-bottom: 16px;
    background: linear-gradient(-45deg, #ff000091,#ffff0091); 
}

.div4 h1 {
    font-size: 2em;
}

.div4 ul {
    list-style: none;
    text-align: left;
    font-size: 1.15em;
}

.div4 a:hover {
    text-decoration: none;
}

.div5 {
    background: linear-gradient(#f0767691, #3e65a091);
}

.div6 {
    background: radial-gradient(#ee505091, #52ec5291)
}

.resource-image {
    width: 100px;
    height: 100px;
    border: 2px ridge #1B2125; /*dark gray*/
}

.resource-description {
    font-size: .75em;
    text-align: left;

}

.resource-description::first-letter {
    font-size: 1.25em;
    color: #1B2125; /*dark gray*/
}

.div4 a {
    color: #0d4469; /*dark gray*/
}

.div4 a:hover {
    color: #800404;
}

/* NOTE:Grapevine Article grapevine.html*/
#grapevine {
    border: 10px ridge #3D6094;
    width: 85%;
    margin: 5px auto;
    padding: 16px;
}

#mapLocation {
    height: 100%;
}